# Loan Approval Prediction
Edmund Walsh - May 10th, 2020

## Introduction
The project examines the data provided by the Home Mortgage Disclosure Act (HMDA) which requires mortgage lenders in the United States to disclose information about the mortgage lending decisions they have made. Specifically, we will be examining prediction of whether or not an application will be accepted or denied.

This notebook is part of a larger project whose purpose goes beyond the acceptance prediction of mortgages. The focus of this project is more about the process and end-to-end engineering from raw data to results presentation. This notebook will focus on the data science approach and process while the larger project will also highlight:
1. A polyglot approach highlight the strengths of different languages.
2. Setting up a data pipeling using APIs, a PostGREsql database, and ETL functions.
3. Building an app which uses the same process put forward in this notebook to scale the process.

## Context 
While this project request didn't specifically state 'why' we are looking into this data, I will work within the context of two important rationales.
1. Mortgage due diligence is expensive and time intensive. A process that can more reliably expidite the process will save lenders significant time and resources.
2. From a regulatory perspective and also importantly as Machine Intelligence becomse a larger and more common part of this process it is important for us to be aware of and highlight any bias.

In [2]:
import seed
import pandas as pd
import numpy as np
import os
import config

In [3]:
print(config.api_key)

8dadaedad2b940dd8ffff397507286b479540d00

In [4]:
init_state = "OH"
init_yr = 2016

In [10]:
data_lar = seed.lar_pull(init_state, init_yr)

In [7]:
data_lar.head()

,action_taken,action_taken_name,agency_code,agency_abbr,agency_name,applicant_ethnicity,applicant_ethnicity_name,applicant_income_000s,applicant_race_1,applicant_race_2,...,state_name,hud_median_family_income,loan_amount_000s,number_of_1_to_4_family_units,number_of_owner_occupied_units,minority_population,population,rate_spread,tract_to_msamd_income,uuid
0,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,75,5,NaN,...,Ohio,66600,219,3165,2746,9.869999885559082,10439,NaN,148.33999633789062,3e322d81-9cee-47d3-83f9-c85379f3705a
1,3,Application denied by financial institution,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,60,5,NaN,...,Ohio,69100,293,3131,2921,16.459999084472656,8742,NaN,172.69000244140625,33d2f820-0e7a-4af6-950b-74bb1642c8cd
2,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,87,5,NaN,...,Ohio,66600,104,2320,1485,4.429999828338623,5508,NaN,89.05000305175781,0e5e6e8d-8e10-4429-a730-657063ef2a63
3,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,86,5,NaN,...,Ohio,55400,153,948,809,2.490000009536743,2973,NaN,133.8300018310547,97453fe2-e14e-4741-8602-7280813f21c8
4,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,46,5,NaN,...,Ohio,66600,206,2375,2210,5.340000152587891,6044,NaN,126.06999969482422,7e2607e5-bfe6-40a7-ae3f-c1334820d296

In [9]:
census_df = seed.census_pull(init_state, init_yr, data_lar, config.api_key)

NameError: name 'data_lar' is not defined

In [9]:
census_df.head()

,state_code,state_abbr,county_code,county_name,year,EMP,ESTAB,PAYANN,POP
0,39,OH,35,"Cuyahoga County, Ohio",2016,3899081,195687,210202807,1250871
1,39,OH,49,"Franklin County, Ohio",2016,3775265,169990,190400631,1138190
2,39,OH,85,"Lake County, Ohio",2016,466581,35316,20664563,227255
3,39,OH,169,"Wayne County, Ohio",2016,201710,14425,7926456,111289
4,39,OH,61,"Hamilton County, Ohio",2016,2809075,125607,159909829,782863

In [5]:
data_inst = seed.inst_pull(init_state, init_yr)

In [6]:
data_inst.head()

,activity_year,respondent_id,agency_code,agency_abbr,agency_name,federal_tax_id,respondent_name,respondent_address,respondent_city,respondent_state,...,parent_state,parent_zip_code,respondent_name_panel,respondent_city_panel,respondent_state_panel,other_lender_code,region_code,validity_error,assets,lar_count
0,2016,0000000046,1,OCC,Office of the Comptroller of the Currency,31-4247738,FIRST NATIONAL BANK OF MCCONNE,"86 N. KENNEBEC AVENUE, PO BOX 208",MCCONNELSVILLE,OH,...,OH,43756,FIRST NB,MCCONNELSVILLE,OH,0,3,N,138285,129
1,2016,0000000047,1,OCC,Office of the Comptroller of the Currency,35-0704860,FIRST FINANCIAL BANK NA,1401 S 3RD ST,TERRE HAUTE,IN,...,IN,47807,FIRST FNCL BK NA,TERRE HAUTE,IN,0,3,N,2882577,2695
2,2016,0000000086,1,OCC,Office of the Comptroller of the Currency,31-0294798,FIRST NATIONAL BANK OF GERMANT,17 NORTH MAIN STREET,GERMANTOWN,OH,...,NaN,NaN,FIRST NB,GERMANTOWN,OH,0,3,N,52364,38
3,2016,0000000324,1,OCC,Office of the Comptroller of the Currency,23-0916895,FIRST NATIONAL BANK AND TRUST,40 SOUTH STATE ST,NEWTOWN,PA,...,NaN,NaN,FIRST NB&TC NEWTOWN,NEWTOWN,PA,0,1,N,860869,184
4,2016,0000000325,1,OCC,Office of the Comptroller of the Currency,24-0558097,"FNB BANK, NA",354 MILL STREET,DANVILLE,PA,...,PA,17604,FNB BK NA,DANVILLE,PA,0,1,N,363285,270

In [8]:
census_df.columns

NameError: name 'census_df' is not defined

In [16]:
data_inst = pd.read_csv(url_full, dtype=object)
data_inst.to_csv('../data/load/hmda_inst.csv')

In [23]:
state_code = data_lar['state_code'].loc[0]
c_ids = c_ids[(np.isnan(c_ids.astype(np.float)) == False)].astype(np.integer)
census_results = []
print(c_ids)

[ 35  49  85 169  61  93  43  17  41 117  59 165  51  45 129  29 103 109
 161 101  95 175 113   5  27  89 141  73 145  83  25   7  57  33  37 123
 157 155  71 115  55   3 149  67  69  91  11 131 151 119 159 153  99  39
  97 107 147 135  31   1  63 143  47  53 139 173 127 171  77  15  21   9
 137 125 111 167 133  23  75  65  79  81  13 163 121 105  87  19]

In [16]:
api_key=config.api_key

In [18]:
for cid in c_ids:
        cid_str = str(cid)
        while(len(cid_str) < 3):
            cid_str = '0' + cid_str

        census_end = """{}&in=state:{}&key={}""".format(cid_str, state_code, api_key)
        census_url = census_base + census_middle + census_end
        census_data = pd.read_json(census_url)
        census_header = census_data.loc[0]
        census_data1 = census_data.loc[1:census_data.shape[0]]
        census_data1.columns = census_header
        census_data1 = census_data1[(census_data1['EMPSZES'] == '001')]
        census_sums = census_data1[['EMP','ESTAB','PAYANN']].apply(pd.to_numeric).sum(axis=0)
        pop_base = 'https://api.census.gov/data/2010/dec/sf1?get='
        pop_middle = 'H010001,NAME&for=county:'
        pop_end = """{}&in=state:{}&key={}""".format(cid_str,state_code,api_key)
        pop_link = pop_base + pop_middle + pop_end
        print(i)
        print(pop_link)
        pop_data = pd.read_json(pop_link)
        cdict = {'state_code': pd.to_numeric(data_lar['state_code'][0]), 'state_abbr': init_state, \
         'county_code': pd.to_numeric(cid_str), 'county_name': pop_data.iloc[1,1], 'year': init_yr, \
        'EMP': census_sums['EMP'], 'ESTAB': census_sums['ESTAB'], 'PAYANN': census_sums['PAYANN'], \
        'POP': pd.to_numeric(pop_data.iloc[1,0])}
        census_results.append(cdict)

ValueError: Expected object or value

In [20]:
census_df = pd.DataFrame(census_results)
census_df.shape

(87, 9)

In [ ]:
census_df.to_csv('../data/load/hmda_census.csv', index = False)

In [31]:
census_data = pd.read_json(census_url)

In [112]:
census_header = census_data.loc[0]
census_data1 = census_data.loc[1:census_data.shape[0]]
census_data1.columns = census_header
census_data1 = census_data1[(census_data1['EMPSZES'] == '001')]
census_sums = census_data1[['EMP','ESTAB','PAYANN']].apply(pd.to_numeric).sum(axis=0)
census_sums['EMP']

293924

In [82]:
fips = pd.read_csv('../data/load/hmda_fips.csv')
fips.head()
fips['state_code'].astype(str)[0]

'0'

In [89]:
sub_fips = fips.loc[(fips['state_code'].astype(str) == data_lar['state_code'][0]) & \
                    (fips['county_code'].astype(str) == cid_str)]
c_nm = sub_fips[(sub_fips['county_sub'] == 0)]['area_name'].astype(str)

In [120]:
pop_base = 'https://api.census.gov/data/2010/dec/sf1?get='
pop_middle = 'H010001,NAME&for=county:'
pop_end = """{}&in=state:{}&key={}""".format(cid_str,state_code,api_key)
pop_link = pop_base + pop_middle + pop_end
print(pop_link)

https://api.census.gov/data/2010/dec/sf1?get=H010001,NAME&for=county:103&in=state:39&key=8dadaedad2b940dd8ffff397507286b479540d00

In [115]:
pop_data = pd.read_json(pop_link)
pd.to_numeric(pop_data.iloc[1,0])

171134

In [119]:
cdict = {'state_code': pd.to_numeric(data_lar['state_code'][0]), 'state_abbr': state, \
         'county_code': pd.to_numeric(cid_str), 'county_name': pop_data.iloc[1,1], 'year': yr, \
        'EMP': census_sums['EMP'], 'ESTAB': census_sums['ESTAB'], 'PAYANN': census_sums['PAYANN'], \
        'POP': pd.to_numeric(pop_data.iloc[1,0])}
cdict

{'state_code': 39,
 'state_abbr': 'OH',
 'county_code': 103,
 'county_name': 'Medina County, Ohio',
 'year': 2016,
 'EMP': 293924,
 'ESTAB': 23317,
 'PAYANN': 11790930,
 'POP': 171134}